body, html {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

body {
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-variation-settings: "wdth" 100;
	overflow-x: hidden;
}

header {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(85, 107, 50, 0.75));
	margin: 0;
}

nav {
	color: white;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
	padding: 0 0.5vw;
	margin: 0 0.5vw;
}

li {
	font-size: 20px;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

.d--header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 0 2vw;
}

.d--header-logo {
	display: flex;
	height: 15vh;
	margin: auto 0 auto 0;
	padding: 2px 0;
	border-radius: 8px;
}

.d--header-img {
	flex: 0 1 auto;
}

.d--header-background {
	background-image: url(uploads/landscaping.jpg);
	background-size: cover;
}

.d--body-welcome {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	height: 90vh;
	background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 1), rgba(85, 107, 50, 0.75), transparent);
}

.d--welcome-box {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 2vh 2vw;
	width: 70vw;
	height: auto;
}

.d--welcome-text {
	font-size: 35px;
	font-weight: bold;
	color: darkolivegreen;
}

.d--welcome-contact {
	font-size: 18px;
	align-self: end;
	background-color: white;
	padding: 1vh 1vw;
	border-radius: 5px;
}

.d--welcome-contact:hover {
	color: white;
	background-color: black;
	transition: 0.5s;
}