html {
  scrollbar-gutter: stable;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

body {
	font-family: "Open Sans", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-variation-settings: "wdth" 100;
	overflow-x: hidden;
}

header {
	background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(85, 107, 50, 0.75));
	margin: 0;
}

nav {
	color: white;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline;
	padding: 0 0.5vw;
	margin: 0 0.5vw;
}

li {
	font-size: 20px;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

footer {
	background-color: black;
	height: 10vh;
}

svg {
  display: block;
  line-height: 0;
}


.d--header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 10vh;
	padding: 0 2vw;
}

.d--header-logo {
	display: flex;
	height: 8vh;
	margin: auto 0 auto 0;
	padding: 2px 0;
	border-radius: 8px;
}

.d--header-img {
	flex: 0 1 auto;
}

.d--header-background {
	background-image: url(uploads/landscaping.jpg);
	background-size: cover;
}

.d--body-welcome {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	height: 90vh;
	background-image: linear-gradient(to top, white 0.25%, transparent);
}

.d--welcome-box {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px 0 0 10px;
	padding: 2vh 2vw;
	width: 50vw;
	height: auto;
}

.d--welcome-catch {
	font-size: 45px;
	font-weight: bold;
	color: darkolivegreen;
}

.d--welcome-text {
	font-size: 25px;
	font-weight: bold;
	color: darkolivegreen;
	margin-bottom: 0;
	padding-right: 4vw;
}

.d--welcome-contact {
	cursor: pointer;
	color: white;
	font-size: 20px;
	align-self: end;
	background-color: darkolivegreen;
	padding: 1vh 1vw;
	border-radius: 5px;
	width: 8vw;
}

.d--services-heading {
	align-self: center;
	font-size: 55px;
	color: darkolivegreen;
}

.d--welcome-contact:hover {
	color: white;
	background-color: black;
	transition: 0.5s;
}

.d--services {
	background-image: linear-gradient(to top, rgba(85, 107, 50, 0.8) 25%, white);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.d--services-maindiv {
	display: flex;
	flex-direction: row;
}

.d--services-div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-right: var(--scrollbar-width);
	padding-bottom: 7vh;
}

.d--services-subdiv {
	display: flex;
	flex-direction: row;
	width: 60vw;
}

.d--services-box {
	cursor: pointer;
	height: 50vh;
	margin: 1vh 1vw;
	border-radius: 10px;
	box-shadow: 0 0 10px;
	flex: 1 0 0;
	overflow: hidden;
}

.d--services-box > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-size: cover;
	justify-content: center;
	align-items: center;
}

.d--services-box > div > h3 {
	color: white;
	padding: 0.5vh 0.5vw;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
}

.d--services-box > div:hover {
	transform: scale(1.2);
	transition: 0.25s;
}

.d--services-seemore {
	align-self: center;
	font-size: 20px;
	color: darkolivegreen;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 4vh 5vw;
	cursor: pointer;
	margin: 0 4vw 7vh 4vw;
	font-weight: bold;
}

.d--services-seemore > p > a, a:visited {
	color: #94ba4e;
}

.d--services-seemore > p > a:hover {
	color: #303c1a;
}

.d--about {
	background-image: url(uploads/house.jpg);
	background-size: cover;
}

.d--about-color {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10vh 5vw;
}

.d--about-logo {
	width: 35vw;
	padding: 0 5vw 0 0;
}

.d--about-logo > img {
	width: 30vw;
}

.d--about-box {
	flex: 0 1 auto;
	background-color: white;
	opacity: 75%;
	padding: 7vh 5vw;
	border-radius: 10px;
}

.d--about-heading {
	color: darkolivegreen;
	font-size: 45px;
	margin-top: 0;
}

.d--about-text {
	color: darkolivegreen;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}

.f--footer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.f--logo {
	height: 8vh;
	margin: auto 0 auto 0;
	padding: 2px 0;
	border-radius: 8px;
}

.f--logo {
	display: flex;
	height: 8vh;
	margin: auto 0 auto 0;
	padding: 2px 0;
	border-radius: 8px;
}

.f--img {
	flex: 0 1 auto;
}

@media screen and (max-width:500px) {
	.d--header-nav-div {
		display: none;
	}

	.d--about-logo {
		display: none;
	}

	.d--welcome-box {
		width: 90vw;
	}

	.d--services > div {
		flex-direction: column;
	}
	
	.d--services-div {
		margin: 0 auto;

	.d--services-subdiv {
		width: 90vw;
	}

	.f--copyright {
		font-size: 12px;
	}
}